html {
  background: #f5f7f8;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  padding: 20px 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

/* .footer {
  left: 0;
  bottom: 0;
  padding: 14px 16px;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
} */

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    border:1px solid black;
  }
  
  td, th {
    text-align: left;
    padding: 8px;
    border:1px solid black;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  img {
    width: 100%;
  }

.grid-container{
  font-size: 30px;
  background-color: beige;
  display: grid;
  grid-template-columns: 150px auto 150px;
  grid-template-rows: repeat(3, 100px);
  gap: 10px;
}

.grid-container > *{
  background-color: brown;
  border: 1px solid black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

header, footer{
  grid-column: 1 / span 3;
}

.grid-container-second{
  font-size: 30px;
  background-color: #111111;
  display: grid;
  grid-template-columns: 150px auto 150px;
  grid-template-rows: repeat(3, 100px);
  gap: 10px;
}

.grid-container-second > *{
  background-color: #91a731;
  border: 1px solid black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.band {
  width: 90%;
  max-width: 1240px;
  margin: 0 auto;
  
  display: grid;
  
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;
  
}

@media only screen and (min-width: 600px) {
  .band {
    grid-template-columns: 1fr 1fr;
  }  
  .item-1 {
  grid-column: 1/ span 2;
  }
  .item-1 h1 {
    font-size: 30px;
  }
  .topnav a {
    float: none;
    width: 100%;
  }
}

@media only screen and (min-width: 850px) {
  .band {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

/* card */

.card {
  min-height: 100%;
  background: white;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  display: flex;
  align-content: stretch;
  flex-direction: column;
  text-decoration: none;
  color: #444;
  position: relative;
  top: 0;
  transition: all .1s ease-in;
}

.card:hover {
  top: -2px;
  box-shadow: 0 4px 5px rgba(0,0,0,0.2);
}

.card article {
  padding: 20px;
  display: flex;
  
  flex: 1;
  justify-content: space-between;
  flex-direction: column;
  
}
.card .thumb {
  padding-bottom: 60%;
  background-size: cover;
  background-position: center center;
}

.card p { 
  flex: 1; /* make p grow to fill available space*/
  line-height: 1.4;
}

/* typography */
h1 {
  font-size: 20px;
  margin: 0;
  color: #333;
}

.card span {
  font-size: 12px;
  font-weight: bold;
  color: #999;
  text-transform: uppercase;
  letter-spacing: .05em;
  margin: 2em 0 0 0;
}

.container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}
.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* simple "from > to" */
@keyframes move {
  from {
      left: 5%;
  }
  to {
      left: 85%;
  }
}


/* assign animation to ball element */
.ball {
  animation: 1s move;
}

.ball {
  width: 10%;
  padding-bottom: 10%;
  border-radius: 50%;
  background: #2098d1;
  box-shadow: -3px 5px 0px rgba(0,0,0,0.2);
  position: absolute;
  top: 100px;
  left: 5%;
}

.shrink:hover
{
-webkit-transform: scale(0.8);
-ms-transform: scale(0.8);
transform: scale(0.8);
}

/* Top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none; 
}